@font-face {
font-family: SourseSerif;
src: url(fonts/philosopherbold.woff); /* жирный шрифт */
}
@font-face {
font-family: SourseSerif2;
src: url(fonts/Calluna-Regular-webfont.woff); /* обычный шрифт */
}  
@font-face {
font-family: SourseSerif3;
src: url(fonts/marmelad.woff ); /* курсив мой */
}
@font-face {
font-family: SourseSerif4;
src: url(fonts/aquarelle.ttf); /* курсив дизайнер */
} 

 
html, body {
  margin: 0;
  padding: 0;
  border: 0;
 }
img{
    display: block;
    max-width: 100%;
    height: auto;
} 


header{
	margin: auto;
	width: 100%;
	background:url('../img/fon.jpg') no-repeat fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
	background-color: #efefef;	
}

.wrap-h{	
	width: 90%;
	margin-left: 10%;
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;	
}

.headline{	
	margin-top:70px;
}

.headline h1{
	font-family: SourseSerif2;
	font-size: 48pt;
	text-align: center;
	
}

.headline h2{
	font-family: SourseSerif4;
	font-size: 40pt;   	
}

.quote{
	margin-top: 50px;
	font-family: SourseSerif2;
	font-size: 16pt;
	text-align: center;
    
}
.headfoto{
	margin-top:70px;
}
/*.clear {
    clear: left; /* Отмена обтекания */

.buttonhead {
	margin-top: 120px;
}
.buttonhead a {	
	  text-decoration: none;
	  outline: none;
	  display: inline-block;
	  width: 310px;
	  padding: 15px 35px;
	  margin-left: 170px;
	  border-radius: 10px;
	  box-shadow: 0 0 40px 40px #ff3836 inset, 0 0 0 0 #ff3836;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
	  font-size: 14pt;
	  letter-spacing: 2px;
	  color: white;
	  transition: .15s ease-in-out;
}

.buttonhead a:hover {
  box-shadow: 0 0 10px 0 #ff3836 inset, 0 0 10px 4px #ff3836;
  color: #ff3836;
}   
 
.section_main{
	background-color: rgba(251, 251, 251);	
	width: 100%;
}

.txt_section{
	width: 70%;
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 3%;
}
.sect_bl{
	width: 100%;
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 3%;
	
}

.sect_info{
	width: 96%;
	margin: 0 auto;	
}

.sect_quest_soc{
	width: 70%;
	margin: 0 auto;
}
 
.txt_section p{
	font-family: SourseSerif2;
    font-size: 160%;
	text-align: center;
}

#p_title{
	font-family: SourseSerif;
	font-size: 300%;
	text-align: center;
}

.bl_title{
	font-family: SourseSerif;
    font-size: 200%;
}

.sect_quest_soc{
	padding-top: 2%;
}

.social{
	position: relative;	
	height: 200px;
}
.titl_soc{
	text-align:center;
}
.wrapper {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 70px;
  height: 70px;
  line-height: 75px;
  margin: 0 3px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.vk {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-vk{
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.youtube {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube-play {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

@media screen and (max-width: 640px){
  .social{
	height: 300px;
	
}
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
}

@media screen and (max-width: 340px){
    .social{
	height: 500px;
	
}
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
}


footer{
	background-color: rgba(198, 198, 198);
	height: 100px;
	width: 100%;	
}

.navbar-default {
    border-color: transparent;
    background-color: rgba(255, 255, 255,.2);
}

.navbar-default .navbar-brand {
    font-family: SourseSerif2 ,Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #343f3e;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: rgba(255, 255, 255,.5);
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
 