@font-face {
font-family: SourseSerif2;
src: url(fonts/Philosopher-Bold.ttf); /* ѕуть к файлу со шрифтом */
}

@font-face {
font-family: SourseSerif;
src: url(fonts/aquarelle.ttf); /* ѕуть к файлу со шрифтом */
}

@font-face {
font-family: SourseSerif2;
src: url(fonts/philosopherbold.woff); /* ѕуть к файлу со шрифтом */
}  
  
html, body {
  margin: 0;
  padding: 0;
  border: 0;
 }

body{

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

header{
	margin: auto;
	width: 100%;
	background:url('../img/fon.jpg') no-repeat fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
	background-color: #efefef;	
}
.wrap-h{	
	width: 90%;
	margin-left: 10%;
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

	
}
.headline{	
	margin-top:70px;
}
.headline h1{
	font-family: SourseSerif2;
	font-size: 48pt;
	text-align: center;
	
}

.headline h2{
	font-family: SourseSerif;
	font-size: 40pt;
    
	
}
.quote{
	margin-top: 50px;
	font-family: SourseSerif2;
	font-size: 16pt;
	text-align: center;
    
}
.headfoto{
	margin-top:70px;
}
/*.clear {
    clear: left; /* Отмена обтекания */


.buttonhead {
	margin-top: 120px;
}
.buttonhead a {	
	  text-decoration: none;
	  outline: none;
	  display: inline-block;
	  width: 310px;
	  padding: 15px 35px;
	  margin-left: 170px;
	  border-radius: 10px;
	  box-shadow: 0 0 40px 40px #ff3836 inset, 0 0 0 0 #ff3836;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
	  font-size: 14pt;
	  letter-spacing: 2px;
	  color: white;
	  transition: .15s ease-in-out;
}

.buttonhead a:hover {
  box-shadow: 0 0 10px 0 #ff3836 inset, 0 0 10px 4px #ff3836;
  color: #ff3836;
}  


footer{

	background-color: rgba(198, 198, 198);
	height: 80px;
	width: 100%;	
}

