@font-face {
font-family: SourseSerif;
src: url(fonts/philosopherbold.woff); /* жирный шрифт */
}
@font-face {
font-family: SourseSerif2;
src: url(fonts/Calluna-Regular-webfont.woff); /* обычный шрифт */
}  
@font-face {
font-family: SourseSerif3;
src: url(fonts/marmelad.woff ); /* курсив мой */
}
@font-face {
font-family: SourseSerif4;
src: url(fonts/aquarelle.ttf); /* курсив дизайнер */
} 

@font-face{
font-family: 'MyWebFont';
src: url('fonts/Circe-Regular.eot');
src: url('fonts/Circe-Regular.eot?iefix') format('eot'),
url('fonts/Circe-Regular.woff') format('woff'),
url('fonts/Circe-Regular.ttf') format('truetype'),
url('fonts/Circe-Regular.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'MyWebFontBold';
src: url('fonts/Circe-Bold.eot');
src: url('fonts/Circe-Bold.eot?iefix') format('eot'),
url('fonts/Circe-Bold.woff') format('woff'),
url('fonts/Circe-Bold.ttf') format('truetype'),
url('fonts/Circe-Bold.svg#webfont') format('svg');
font-weight: bold;
font-style: normal;
}

@font-face{
font-family: 'PhilosopherNormal';
src: url('fonts/philosopher.eot');
src: url('fonts/philosopher.eot?iefix') format('eot'),
url('fonts/philosopher.woff') format('woff'),
url('fonts/philosopher.ttf') format('truetype'),
url('fonts/philosopher.svg#webfont') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'PhilosopherBold';
src: url('fonts/philosopherbold.eot');
src: url('fonts/philosopherbold.eot?iefix') format('eot'),
url('fonts/philosopherbold.woff') format('woff'),
url('fonts/philosopherbold.ttf') format('truetype'),
url('fonts/philosopherbold.svg#webfont') format('svg');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: philosopherbolditalic;
src: url(fonts/philosopherbolditalic.woff);
}

@font-face {
font-family: philosopheritalic;
src: url(fonts/philosopheritalic.woff);
}

 
html, body {
  margin: 0;
  padding: 0;
  border: 0;
 }
img{
    display: block;
    max-width: 100%;
    height: auto;
} 

section{
	background-color: rgba(251, 251, 251);	
	width: 100%;
}

.section_info, .txt_section{
	width: 70%;
	margin: 0 auto;
	padding-top: 4%;
	padding-bottom: 3%;
}

/*     section index 
*/
.txt_section h3{
	font-family: philosopherbolditalic;
	font-size: 36pt;
	text-align: center;
	
}

.txt_section p{
	font-family: PhilosopherNormal, "Arial", sans-serif;
    font-size: 20pt;
	text-align: justify;
	line-height: 1.25;
	margin-top: 3%;
}


#p_title{
	font-family: PhilosopherBold;
	font-size: 30pt;
	text-align: center;
}

.txt_section ul{
	  list-style-type: circle;
      list-style-image: url('../img/marker.png'); /* Путь к изображению маркера */
	  font-family: PhilosopherNormal, "Arial", sans-serif;
      font-size: 20pt;
	  text-align: left;
	  line-height: 1.5;
   }


.bl_title{
	font-family: PhilosopherBold;
    font-size: 30pt;
}

.quest_soc{
	padding-top: 2%;
}

.social{
	position: relative;	
	height: 200px;
}
.titl_soc{
	text-align:center;
}
.wrapper {
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul li {
  width: 70px;
  height: 70px;
  line-height: 75px;
  margin: 0 3px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.vk {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-vk{
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.youtube {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube-play {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}



@media screen and (max-width: 640px){
  .social{
	height: 300px;
	
}
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
}

@media screen and (max-width: 340px){
    .social{
	height: 500px;
	
}
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
}


header{
	margin: auto;
	width: 100%;
	background:url('../img/fon.jpg') no-repeat fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
	background-color: #efefef;	
}
.wrap-h{	
	width: 90%;
	margin-left: 10%;
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

	
}
.headline{	
	margin-top:180px;
}
.headline h1{
	font-family: SourseSerif, "Arial", sans-serif;
	font-size: 48pt;
	text-align: center;	
}

.headline h2{
	font-family: SourseSerif4, "Arial", sans-serif;
	font-size: 40pt;
	padding-left: 15px;
    	
}
.quote{
	margin-top: 50px;
	font-family: PhilosopherNormal, "Arial", sans-serif;
	font-size: 16pt;
	text-align: center;
    
}
.headfoto{
	margin-top:70px;
}
/*.clear {
    clear: left; /* Отмена обтекания */


.buttonhead {
	margin-top: 120px;
}
.buttonhead a {	
	  text-decoration: none;
	  outline: none;
	  display: inline-block;
	  width: 310px;
	  padding: 15px 35px;
	  margin-left: 170px;
	  border-radius: 10px;
	  box-shadow: 0 0 40px 40px #ff3836 inset, 0 0 0 0 #ff3836;
	  font-family: 'Montserrat', sans-serif;
	  font-weight: bold;
	  font-size: 14pt;
	  letter-spacing: 2px;
	  color: white;
	  transition: .15s ease-in-out;
}

.buttonhead a:hover {
  box-shadow: 0 0 10px 0 #ff3836 inset, 0 0 10px 4px #ff3836;
  color: #ff3836;
}  

/*footer page*/
footer {
  	background: rgba(198, 198, 198);
  	font-size: 16px;
}


footer 	.container {			
	padding: 10px 0;
	width: 70%;
	margin: 0 auto;
}

footer a{
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
}

.pay_system{
	padding-top: 15px;	
}

.pay_system img{
	display: inline-block;
	max-height: 40px;
    margin-right: 15px;
	
}

.footer_info {
   padding-top: 10px;
   padding-bottom: 15px;
}

.footer_docum_regist{
	margin-top: 10px;
	border-left: 2px solid white;	
}

.footer_docum_regist p{
	font-family: PhilosopherNormal, "Arial", sans-serif;
    font-size: 0.9em;
	
}

/*footer page end*/

/*страница consultation*/
.section_product{

	
}

.section_product h1{
	margin-top: 80px;
	font-family: PhilosopherBold, "Arial", sans-serif;
	font-size: 48pt;
	text-align: center;
}

.product_all{
	width: 70%;
	margin: 0 auto;
	padding-top: 2%;
	padding-bottom: 3%;

}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    color: #2F2F2F;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #1ee2e7; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #1ee2e7; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }
	  
	  
	  
.button-parent {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
.button-parent--inner {
  padding: 4em 1em;
}

a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: #4A4A4A;
  display: inline-block;
}

.button-item {
  padding-bottom: 2em;
}

.btn-buy {
  padding: 1em 3em;
  border: 3px solid #4A90E2;
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px #4A90E2;
}
.btn-buy:before {
  content: '';
  height: 0%;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #4A90E2;
  transition: all 0ms ease;
}
.btn-buy:after {
  content: '';
  height: 80%;
  width: 0px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #4A90E2;
  transition: all 0ms ease;
  z-index: -1;
}
.btn-buy:hover {
  color: #4A90E2;
  box-shadow: none;
}
.btn-buy:hover:before {
  content: '';
  height: 80%;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #4A90E2;
  transition: all 300ms ease;
}
.btn-buy:hover:after {
  content: '';
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  transition: all 300ms ease;
  transition-delay: 350ms;
}	  
	

.curs{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.btn-prod{
  width: 550px;
  height: 300px;
  padding: 1em 3em;
  border: 3px solid #4A90E2;
  font-family: PhilosopherNormal, "Arial", sans-serif;
  font-size: 36pt;  
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px #4A90E2;
}

.tab-2 img{
	display: block;
    margin: 0 auto;
	padding-top: 3%;
}

#name_conslt{
	text-transform: uppercase;
	font-family: PhilosopherBold, "Arial", sans-serif;
	font-size: 2.3vw;
	color: #4A90E2;	
}

.consl{
	font-family: PhilosopherNormal, "Arial", sans-serif;
	font-size: 16pt;
}

.consl h3{
	font-family: PhilosopherBold, "Arial", sans-serif;
	font-size: 2.3vw;
}

#bold_text{	
}

/*страница product end*/

/* nav */
.navbar-default {
    border-color: transparent;
    background-color: rgba(255, 255, 255,.2);
}

.navbar-default .navbar-brand {
    font-family: PhilosopherNormal ,Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1ee2e7;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"PhilosopherNormal",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #343f3e;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #17d0d5;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 4em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: rgba(255, 255, 255,.5);
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 2em;
    }
}

/* nav end*/

/* oferta */
.oferta_all{
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
    padding-bottom: 70px;	
}

.oferta_all h3{
	font-family: Philosopherbold;
	font-size: 22pt;
	text-align: center;
}

.oferta_all p{
	font-family: Philosopher;
	font-size: 16pt;
	text-align: justify;
}

#head_ul{
	font-family: PhilosopherBold;
	font-size: 16pt;
}

#info_ul{
	font-family: Philosopher;
	font-size: 15pt;
	text-align: justify;
	list-style-type: none;
}