@font-face {
    font-family: 'Marmelad';
    src: local('Marmelad'), local('Marmelad-Regular'), url('marmelad.woff2') format('woff2'), url('marmelad.woff') format('woff'), url('marmelad.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
